decorator
Django
django-background-tasks
django-compat
django-cors-headers
django-pandas
djangorestframework
ipdb
ipython
ipython-genutils
numpy
pandas
PyMySQL
scikit-learn
scipy
sklearn
tqdm
django-extensions
Cython
scikit-multiflow
djongo